body{
  height: 100vh;
  width: 100%;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(30, 29, 31);
  background: url(Images/s1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  box-sizing: border-box;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

h1{
  text-align: center;
  font-size: 3rem;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.btns{
  display: grid;
  width: 130px;
  grid-template-columns: repeat(3, 150px);
  gap: 10px;
  justify-content: center;
}

.btns button{
  height: 140px;
  width: 140px;
  border: none;
  font-size:7rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(2, 2, 2, 0.6);
  font-weight: 700;
  }

  #btn1{
    border-radius: 20px 0 0 0;
  }
  #btn3{
    border-radius: 0 20px 0 0;
  }
  #btn9{
    border-radius: 0 0 20px 0;
  }
  #btn7{
    border-radius: 0 0 0 20px;
  }

  #reset{
    border: none;
    height: 50px;
    width: 120px;
    font-size: 2rem;
    border-radius: 8px;
    color: #fff;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.653);

    &:hover{
      background-color: black;
      font-weight: 600;
    }
  }