

body{
  background-color: darkblue;
}


nav{
  position: fixed;
  top: 20px;
  left: 5%;
  width: 90%;
  height: 70px;
  background-color: rgba(0, 0, 255, 0.3);
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.sidebar{
  height: 500px;
  width: 200px;
  background-color: gray;
  position: fixed;
  top: 15%;
  left: 0px;
  transform: translate(-100%);
  transition: ease-in 0.5s;
  border-radius: 0 12px 12px 0;
}

.side{
  transform: translate(0);
}

p{
  color: black;
  font-size: 2rem;
}

.sidebar i{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}